<!--
  vim: ft=htmldjango
-->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Invoice</title>
</head>

<body>
  <img src="https://main.s3.kilic.dev/html/icon.png" alt="logo"
    class="absolute h-40 top-3 left-1/2 transform -translate-x-1/2 drop-shadow-lg drop-shadow-gray-900">
  <div class="max-w-full leading-tight prose grid grid-rows">
    <section id="header" class="grid grid-cols-12">
      <div class="col-span-1 flex flex-col justify-center text-lg font-extrabold text-gray-100">
        <p class="text-vertical">FROM</p>
      </div>
      <div class="col-start-2 col-span-5 flex flex-col justify-baseline p-4 pt-10 mr-12">
        <h1>Cenk Kılıç</h1>
        <h3>{{ company.tax_number }}</h3>
        <address>{{ company.address }}</address>
        <div class="flex flex-col text-sm">
          {% if company.phone %}
          <a href="tel:{{ company.phone }}">{{ company.phone }}</a>
          {% endif %}
          {% if company.email %}
          <a href="mailto:{{ company.email }}">{{ company.email }}</a>
          {% endif %}
          {% if company.website %}
          <a href="{{ company.website }}">{{ company.website }}</a>
          {% endif %}
        </div>
      </div>
      <div class="col-span-6 bg-gray-900 rounded-bl-4xl flex flex-col justify-center text-center">
        <p class="p-4 font-bold text-white text-6xl">INVOICE</p>
      </div>
    </section>
    <section id="client" class="grid grid-cols-12">
      <div class="col-span-1 flex flex-col justify-center text-lg font-extrabold text-gray-100">
        <p class="text-vertical">TO</p>
      </div>
      <div class="col-span-5 flex flex-col justify-baseline p-4">
        <h2>{{ client.name }}</h2>
        {% if client.tax_number %}
        <h3>{{ client.tax_number }}</h3>
        {% endif %}
        <address>{{ client.address }}</address>
      </div>
      <div class="col-span-6 flex justify-center text-xs text-center p-4">
        <div class="grid grid-rows-2 gap-4 w-full mr-12">
          <div
            class="p-2 flex flex-row justify-between align-middle rounded-xl bg-gray-50 border border-gray-50! inset-shadow-xs inset-shadow-gray-400">
            <p class="font-bold">Date</p>
            <p class="font-semibold">{{ date }}</p>
          </div>
          <div
            class="p-2 flex flex-row justify-between align-middle rounded-xl bg-gray-50 border border-gray-50! inset-shadow-xs inset-shadow-gray-400">
            <p class="font-bold">Invoice#</p>
            <p class="font-semibold">{{ id }}</p>
          </div>
        </div>
      </div>
    </section>
    <section id="items" class="grid grid-cols-12">
      <div class="col-span-12 px-16 py-4">
        <table class="w-full table-auto border-y-2 shadow-md shadow-gray-300 border-gray-900! rounded-xl">
          <thead class="border-b-1 border-b-gray-900! border-x-2 border-x-gray-900!">
            <tr>
              <th scope="col" class="w-md text-center">
                Description
              </th>
              <th scope="col" class="w-[10%] text-center">
                Qty
              </th>
              <th scope="col" class="w-[10%] text-center">
                Price
              </th>
              <th scope="col" class="w-[10%] text-center">
                Subtotal
              </th>
              <th scope="col" class="w-[10%] text-center">
                Tax
              </th>
              <th scope="col" class="w-[14%] font-semibold text-center">
                Total
              </th>
            </tr>
          </thead>
          <tbody">
            {% set calculated_subtotal = 0 %}
            {% set calculated_tax = 0 %}
            {% for item in items %}
            <tr>
              <td class="text-left align-middle">{{ item.description }}</td>
              <td class="text-center align-middle">{{ item.quantity }} {{ item.unit }}</td>
              <td class="text-center align-middle">{{ item.price }}{{ currency }}</td>
              {% set calculated_item_subtotal = item.quantity * item.price %}
              <td class="text-center align-middle">{{ calculated_item_subtotal }}{{ currency }}</td>
              {% set calculated_item_tax = calculated_item_subtotal * item.tax / 100 %}
              {% set calculated_tax = calculated_tax + calculated_item_tax %}
              <td class="text-center align-middle">
                {% if calculated_item_tax > 0 %}
                <div class="flex flex-row align-middle">
                  <span class="text-[0.50rem] font-semibold mr-[2px] my-[4px]">({{ item.tax }}%)</span>
                  <span>{{ calculated_item_tax }}{{ currency }}</span>
                </div>
                {% else %}
                <span class="font-semibold">—</span>
                {% endif %}
              </td>
              {% set calculated_item_total = calculated_item_subtotal + calculated_item_tax %}
              <td class="font-semibold text-center align-middle">{{ calculated_item_total }}{{ currency }}</td>
            </tr>
            {% set calculated_subtotal = calculated_subtotal + calculated_item_subtotal %}
            {% endfor %}
            </tbody>
        </table>
      </div>
    </section>
    <section id="payment" class="grid grid-cols-12">
      <div class="col-span-1 flex flex-col justify-center text-lg font-extrabold text-gray-100 bg-gray-900">
        <p class="text-vertical">PAYMENT</p>
      </div>
      <div
        class="col-span-5 flex flex-col p-4 ml-[-1px] pl-5 justify-center text-semibold bg-gray-700 rounded-r-4xl text-white">
        <span>{{ payment.bank }}</span>
        <address>{{ payment.address }}</address>
        <span>{{ payment.bic }}</span>
        <span>{{ payment.routing }}</span>
        <span class="mt-4 font-semibold">{{ payment.name }}</span>
        <span class="font-semibold">{{ payment.iban }}</span>
      </div>
      <div class="col-span-1"></div>
      <div
        class="col-span-5 flex flex-col justify-evenly border-2 rounded-xl border-primary-500! m-8 mr-16 p-4 shadow-md shadow-gray-300 gap-1">
        <div
          class="flex flex-row justify-between font-semibold bg-gray-50 rounded-lg border border-gray-50! inset-shadow-xs inset-shadow-gray-400 py-1 px-2">
          <p>
            Subtotal
          </p>
          <p>
            {{ calculated_subtotal }}{{ currency }}
          </p>
        </div>
        <div
          class="flex flex-row justify-between font-semibold bg-gray-50 rounded-lg border border-gray-50! inset-shadow-xs inset-shadow-gray-400 py-1 px-2">
          <p>
            Tax
          </p>
          <p>
            {% if calculated_tax > 0 %}
            {{ calculated_tax }}{{currency}}
            {% else %}
            <span class="font-semibold">—</span>
            {% endif %}
          </p>
        </div>
        <div class="pt-1 border-t-2 border-primary-500!">
          <div
            class="flex flex-row justify-between font-bold rounded-lg text-primary-500 bg-gray-50 border border-gray-50! inset-shadow-xs inset-shadow-gray-400 py-1 px-2">
            <p>
              Total
            </p>
            <p>
              {% set calculated_total = calculated_subtotal + calculated_tax %}
              {{ calculated_total }}{{ currency }}
            </p>
          </div>
        </div>
      </div>
    </section>
    <section id="footer" class="grid grid-cols-12">
      <div class="col-span-1 flex flex-col justify-center text-lg font-extrabold text-gray-100">
        <p class="text-vertical">NOTES</p>
      </div>
      <div class="col-span-5 flex flex-col p-4 text-sm leading-tight prose">
        {{ content }}
      </div>
      <div class="col-span-1"></div>
      <div
        class="col-span-5 flex flex-col justify-end text-center m-8 mr-16 p-4 pb-0 border-2 border-gray-50! rounded-xl text-xs text-gray-100 h-36">
        <p>SIGNATURE</p>
      </div>
    </section>
  </div>
</body>

</html>
